# Database connection URL for Prisma Client
DATABASE_URL="postgresql://user:password@host:port/database"

# Direct database URL for Prisma Migrations
DIRECT_URL="postgresql://user:password@host:port/database"

# Server port
PORT=3000
